img{
    width: 100%;
}

section{
    width:100%;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 30px;
}

.news_title{
    padding: 10px 2%;
}

.news_descript{
    padding: 20px 2%;
}