main{
    margin: 0 auto;
}

#confirm, #visit{
    margin: 0 auto;
    padding: 30px;
    margin-top: 50px;
    max-width: 200px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

#visit{
    background-color: orange;
}

a{
    text-decoration: none;
    color: black;
}

a:active{
    text-emphasis: none;
}


a:hover{
    text-decoration: none;
    color: black;
}
